# 1.	Write a Python program which accepts the radius of a circle from the user and compute the area.

In [12]:
r = float(input("Write a value : "))
pie = 3.1416
area_circle =  pie * (r*r)
print("Area is : ", area_circle)

Write a value : 1.1
Area is :  3.8013360000000005

# 2.	Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [16]:
fname = input("Input your First Name: ")
lname = input("Input your Last Name: ")

add = fname + " " + lname

list_1 = add.split()
print(add)

reverse_String = ""  # Empty String  
count = len(add) # Find length of a string and save in count variable  
while count > 0:   
    reverse_String += add # save the value of str[count-1] in reverseString  
    count = count - 1 # decrement index  
print ("The reversed string using a while loop is : ",reverse_String)# reversed string

Input your First Name: dany
Input your Last Name: boon
dany boon
The reversed string using a while loop is :  dany boondany boondany boondany boondany boondany boondany boondany boondany boon

# 3.	Write a Python program to calculate the length of a string.

In [17]:
str = "Bangladesh"
print(len(str))

10

# 4.	Write a Python program to count the number of characters (character frequency) in a string.

In [1]:
def char_frequency(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

# 5.	Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.

In [2]:
def chars_mix_up(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b
print(chars_mix_up('abc', 'xyz'))

xyc abz

# 6.	Write a Python program to add 'ing' at the end of a given string (length should be at least 3) If the given string already ends with 'ing' then add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged.

In [31]:
word = str(input("Enter a word: "))
length_word = len(word)

if(length_word <= 3):
    print(word + "ing")
        
else:
    print(print(word + "ly"))

Enter a word: pe
peing

# 7.	Write a Python program to sum all the items in a list.

In [20]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1,2,-8]))

-5

# 8.	Write a Python program to multiply all the items in a list.

In [6]:
items = [1,2,3,4,5]
tot = 1
for x in items:
    tot *= x
print(tot)

120

# 9.	Write a Python program to get the largest number from a list.

In [12]:
list_num = [1, 10, 40, 36, 16]
list_num.sort()
print("Largest number is : ", list_num[-1])

Largest number is :  40

# 10.	Write a Python program to remove duplicates from a list.

In [14]:
ml = [1,2,3,3,4,5,6,6,7]
ml = list(dict.fromkeys(ml))
print(ml)

[1, 2, 3, 4, 5, 6, 7]

# 11.	Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.

In [19]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

# 12.	Write a Python program to create a list by concatenating a given list which range goes from 1 to n.

In [20]:
my_list = ['p', 'q']
n = 4
new_list = ['{}{}'.format(x, y) for y in range(1, n+1) for x in my_list]
print(new_list)

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4']

# 13.	Write a Python program to change the position of every n-th value with the (n+1) th in a list.

# 14.	Write a Python program to select the odd items of a list.

In [21]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(x[::2])

[1, 3, 5, 7, 9]

# 15.	Write a python program to get the absolute difference between n and 51. If n is greater than 51 return triple the absolute difference.

# 16.	Write a python program to check whether a given number is even or odd.

In [25]:
num = int(input("write a number : "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

write a number : 44
44 is Even

# 17.	Write a python program to find whether a given year is a leap year or not

In [26]:
year = int(input("Enter Year: "))

if year % 4 == 0 and year % 100 != 0:
    print(year, "is a Leap Year")
elif year % 100 == 0:
    print(year, "is not a Leap Year")
elif year % 400 ==0:
    print(year, "is a Leap Year")
else:
    print(year, "is not a Leap Year")

Enter Year: 2020
2020 is a Leap Year

# 18.	Write a python program to read the age of a candidate and determine whether it is eligible for casting his/her own vote

In [28]:
year = int(input("Enter Year: "))
if(year>=18):
    print("Congratulation! You are eligible for casting your vote.")
else:
    print("Sorry! You are not eligible for casting your vote.")

Enter Year: 77
Congratulation! You are eligible for casting your vote.

# 19.	Write a python program to find the largest of three numbers.

In [30]:
num1 = 12
num2 = 25
num3 = 52

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 52

# 20.	Write a python program to check whether a triangle is Equilateral, Isosceles or Scalene

In [32]:
print("Input lengths of the triangle sides: ")
x = int(input("x: "))
y = int(input("y: "))
z = int(input("z: "))

if x == y == z:
	print("This is an Equilateral triangle")
elif x==y or y==z or z==x:
	print("This is an isosceles triangle")
else:
	print("This is a Scalene triangle")

Input lengths of the triangle sides:
x: 50
y: 50
z: 60
This is an isosceles triangle

# 38.	Create a range from 0 to 10 with steps of 2.

In [20]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

# 39.	Create a range from 100 to 160 with steps of 10. Then print it as a list.

In [47]:
for i in range(100,160, 10):
    print (i)

100
110
120
130
140
150

# 40.	Can you create a list from 1300 to 700 with descending steps of 100? Is your stop value included in the list?

In [1]:
for i in range(1300,700, 100):
    print (i)
    print (sorted(i, key=int, reverse=True))

# 41.	Create a range from 0 to 50, excluding 50.

In [19]:
for i in range(0,50):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49